<!DOCTYPE html>
<html>
  <head>
    <title>Diff2htmlCustomSample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag 'diff2html' %>
    <%= stylesheet_pack_tag 'diff2html_custom_sample' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
